@model HRM.DAL.Entity.StructureTypeEntity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
        font-weight: bold;
    }

    span.bottom {
        display: block;
        color: green;
        font-size: 90%;
    }
</style>



<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready($(function () {


        $('#applink').click(function () {
            var isValidItem = true;
            var regexp = /^-?\d{1,12}(,\d{12})*(\.\d\d)?$|^\.\d\d$/;

            if ($('#StructureName').val().trim() == '') {
                isValidItem = false;
                $('#StructureName').siblings('span.error').css('visibility', 'visible');
            }
            
            else {
                $('#StructureName').siblings('span.error').css('visibility', 'hidden');
            }

            if ($('#basic').val().trim() == '') {
                isValidItem = false;
                $('#basic').siblings('span.error').css('visibility', 'visible');
            }
            
            else {
                $('#basic').siblings('span.error').css('visibility', 'hidden');
            }
            if (!regexp.test($('#basic').val().trim())) {
                isValidItem = false;
                $('#basic').siblings('span.error').css('visibility', 'visible');
            }
            else {
                $('#basic').siblings('span.error').css('visibility', 'hidden');
            }
            if (isValidItem) {
                $('#progress').show();
                $("#divFund").empty();
            }
            $.ajax({
                url: '@Url.Action("Calculate")',
                type: 'GET',
                data: { grade: $('#StructureName').val(), basic: $('#basic').val(), numberOfChild: 0, locationID: 0 },
                complete: function () {
                    $('#progress').hide();
                },
                success: function (result) {
                    $('#divFund').html(result);
                }
            });
            return false;
        });

    }));

    function ClearResults() {
        $("#divFund").empty();

    }

</script>




<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-agrani">
            <div class="panel-heading">
                Salary Fixation
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="mform">
                <div class="form-horizontal">
                    <div class="col-md-12">


                        <div class="form-group">
                            <label class="control-label col-md-4">Grade<span class="bottom">(As on 30th June 2015)</span></label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.StructureName, new SelectList(@ViewBag.StructureType, "StructureName", "PayScale2009"), "Select Grade", new { @class = "form-control" })

                                <span class="error">Please Select Grade</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label id="EmpName" class="control-label col-md-4">Basic <span class="bottom">(As on 30th June 2015)</span></label>

                            <div class="col-md-8">
                                <input type="text" name="basic" id="basic" class="form-control" />
                                <span class="error">Please Write Valid Amount</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">Personal Pay (if any)</label>
                            <div class="col-md-8">
                                <input type="text" name="EmpCode" id="EmpCode" class="form-control" />
                                <span class="error">Please Write Employee Code</span>
                            </div>
                        </div>






                        <div class="form-group">
                            <label id="EmpName" class="control-label col-md-4">Basic<span class="bottom">(As on 14th Dec 2015)</span></label>

                            <div class="col-md-8">
                                <input type="text" name="EmpName" id="EmpName" class="form-control" />
                                <span class="error">Please Write Employee Code</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <input type="button" class="btn btn-success" value="Calculate" id="applink" />
                            </div>
                        </div>


                    </div>
                    <!-- /.End-col-md-12 -->
                </div>
                <!-- /.End-Form -->

                <div class="row">
                    <div class="col-md-12">
                        <div id="progress" style="display:none; align-content:center;">
                            <span class="text-success"> <b>Please wait while data is loading ......      </b></span>  <img src="~/Assets/spinner.gif" />
                        </div>

                        <div id="divFund">
                            
                          

                        </div>


                    </div>
                    <!-- /.End-col-md-12 -->
                </div>
            </div>
            <!-- /.End-panel body -->
        </div>
    </div>
</div>


